[submodule "GitSubmodules/BuildFilesManipulation"]
	path = GitSubmodules/BuildFilesManipulation
	url = https://github.com/Mathias-Hedelund-Larsen/BuildFilesManipulation.git
[submodule "GitSubmodules/Variables"]
	path = GitSubmodules/Variables
	url = https://github.com/Mathias-Hedelund-Larsen/Variables.git
[submodule "GitSubmodules/EventMethodTargeting"]
	path = GitSubmodules/EventMethodTargeting
	url = https://github.com/Mathias-Hedelund-Larsen/EventMethodTargeting.git
